<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title AIMS
        link(rel="stylesheet", type="text/css", href="bootstrap/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="main.css")
    body
        h1.text-center.my-4 Automobile Inventory Management System
        block content
        script(src="bootstrap/bootstrap.bundle.min.js", type="text/javascript")